@charset "UTF-8";
/* CSS Document */

body{
	margin:0;
	padding:0;
	overflow-x:hidden;
}

h1 {
	color:white;
	font-family:	"Montserrat";
	text-align:center;
}

.navbar-default .navbar-nav>li>a {
    color: white;
	font-family:"Montserrat";
}

.navbar-default .navbar-nav>li>a:hover {
    color: #c0392b;
	font-family:"Montserrat";
}
.mobileaantal h3{
	margin-bottom: 6px;
	margin-top: 0px;
}
.navbar {
	background-color: #10161d;
	margin-bottom:0;
	border-radius: 0px;
	border-color: #10161d;
	position:fixed;
	width:100%;
	z-index:10;
}

.navbar-brand{
	margin-top:15px;
	margin-left:10px;
	width:50px;
	height:25px;
	background-image:url(content/logosmall.png);
	background-repeat:no-repeat;
}
.nav li a{
	cursor: pointer;
}
.nav li a:active{
	text-decoration: underline;
}
.banner {
	padding-top:35px;
	background-color: #10161d;
	width:100%;
	padding-bottom:1em;
	height: calc(100vh);
}

.banner .aantal {
	text-align:center;
	margin:0;
	padding:0;
	color:white;
	font-size:1.2em;
	font-family:	"Montserrat";
}
.banner .aantal h3{
	font-size: 1.2em;
}
#doden,#gewonden,#alleen,#dakloos{
	color: #c0392b;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
}
.wereldkaart {
	display:none;
}

.mobileaantal {
	margin-top:calc(4vh);
}

#wereldkaartmiddel {
		display:none;
	}
.doneerholder{
	text-align: center;
}
.doneerholder figure{
	display: inline-block;
	 position: relative;
	 margin: 0;
}
.doneerholder figcaption{
  position: absolute;
	left: 20%;
	top:19%;
}

.doneer figcaption{
	position: absolute;
	left:75px !important;
	top: 16px !important;
}
.doneer figcaption #puls-donate-button{
	height: 46px;
	width: 46px;
}

#puls-donate-button{
	border-radius: 30px;
	height: 50px;
	width: 50px;
	background-color: white;
	position: absolute;
}
#puls-donate-ring {
	border: 20px solid rgba(255,255,255, 0.8);
	-webkit-border-radius: 40px;
	height: 70px;
	width: 70px;
	position: absolute;
	left: -10px;
	top: -10px;
	-webkit-animation: pulsate 1.5s ease-out;
	-webkit-animation-iteration-count: infinite;
	opacity: 0.0;
}

@media screen and (min-width: 768px) {

.mobileaantal {
	margin-top:0px;
}
#doden,#gewonden,#alleen,#dakloos{
	color: #c0392b;
	text-align: center;
	font-size: 1.6em !important;
	font-weight: bold;
}
.wereldkaart {
	display:inherit;
}
.gps{
	border-radius: 30px;
	height: 20px;
	width: 20px;
	background-color: #c0382b;
	position: absolute;
	left: 70%;
	top: 45%;
}
.gps_ring {
	border: 20px solid rgba(192, 57, 43, 0.4);
	-webkit-border-radius: 30px;
	height: 56px;
	width: 56px;
	position: absolute;
	left: -18.5px;
	top: -18.5px;
	-webkit-animation: pulsate 1.5s ease-out;
	-webkit-animation-iteration-count: infinite;
	opacity: 0.0;
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}
.navbar {
	height:75px;
	background-color: #10161d;
	padding: 0 80px;
}

.banner .aantal {
	text-align:center;
	margin:0;
	padding:0;
	color:white;
	font-size:1em !important;
	font-family:	"Montserrat";
}

.navbar-brand{
	margin-top:10px;
	width:100px;
	height:50px;
	background-image:url(../img/content/logo.png);
	background-repeat:no-repeat;
}

.banner {
	padding-top:75px;
	background-color: #10161d;
	width:100%;
	height: calc(100vh);
}
#wereldkaartmiddel {
		display:none;
	}
	.rowworld{
		display: block;
		max-width: 100%;
		height: auto;
		max-height: 1000px !important;
		width: auto;
		height: calc(90vh - 94px - 69px - 75px);
	}
}
.doneerholder{
	position: relative;
	height: 132px;
}
@media screen and (min-width: 1100px)  and (max-height: 800px) {
	#wereldkaartgroot {
		display:none;
	}

	#wereldkaartmiddel {
		display:inherit;
	}

	.bannercenter {
		margin-top: calc(4vh);
	}
	.gps{
		left: 55% !important;
    top: 60% !important;
	}
}

@media screen and (min-width: 1200px) {
	.banner .aantal {
	text-align:center;
	margin:0;
	padding:0;
	color:white;
	font-size:1.4em;
	font-family:	"Montserrat";
	}
	#doden,#gewonden,#alleen,#dakloos{
		color: #c0392b;
		text-align: center;
		font-size: 2.5em !important;
		font-weight: bold;
	}
	.doneerholder{
		position: relative;
		height: 132px;
	}
	.banner .aantal h3{
		font-size: 1.4em;
	}
}
@media(min-width:768px) and (max-width:992px){
	.doneerholder #puls-donate-button{
		width: 36px !important;
		height: 36px !important;
	}
	.doneerholder #puls-donate-ring{
		height: 60px;
		width: 60px;
		left: -13px;
		top: -11px;
	}
}

@media screen and (max-width: 480px) {
	#wereldkaartgroot {
		display:inherit;
	}

}


.blackshit {
height:50px;
background-color:black;
border-radius: 25px;
width:100%;
}

.euro{
line-height: 50px;
padding-left: 1em;
}

span{
color:white;
word-spacing: 30px;
line-height: 50px;
padding-right: 10px;
font-family: 'Montserrat', sans-serif;
}

.thefooter {
background-color: #10161d;
width:100%;
padding-bottom:1em;
}

.white {
background-color:white;
padding-bottom:5em;
}

.doneer {
margin-top:-61px;
}

.thefooter ul {
text-decoration:none;
padding:0;
color:white;
font-family:'Montserrat', sans-serif;
}

.thefooter h3 {
color:white;
font-family:'Montserrat', sans-serif;
}

.thefooter .white h3 {
color:black;
font-family:'Montserrat', sans-serif;
}

.fa {
float:left;
padding-right:1em;
}

.thefooter .col-md-8 p {
font-size:2em;
color:white;
}

.nepalees {
display:none;
margin-top: 2em;
}

.thefooter {
	background-color: #10161d;
	width: 100%;
	padding-bottom: 1em;
}

.sitemap {
display:none;
}
footer{
	background-color: #10161d;
	height: calc(100vh - 347px);
	color: white;
}
@media screen and (min-width: 768px) {
.doneer {
margin-top:-40px;
}
footer{
	height: calc(100vh - 690px);
}
.sitemap {
display:inherit;
}

.nepalees {
display:inherit;
}

.thefooter .col-md-8 p {
font-size:2em;
color:white;
display:inherit;
}

.mobileaantal {
margin-top:0px;
}

.wereldkaart {
display:inherit;
}

.navbar {
height:75px;
background-color: #10161d;
padding: 0 80px;
}
.jumbotron{
    background:url("../img/content/header_aanpak.png") no-repeat top center fixed;
    background-size: cover;
		height: calc(100vh - 611px)
}
}
@media screen and (min-width: 769px) and (max-width: 1200px){
	footer{
		height: calc(100vh - 455px);
	}
}
@media screen and (min-width: 1200px) {
	footer{
		height: calc(90vh - 470px);
		min-height: 200px
	}
	.jumbotron{
			height: calc(100vh - 486px)
	}
}
.jumbotron{
		background:url("../img/content/header_aanpak.png") no-repeat top center fixed;
		background-size: cover;
}

#aanpak{
    background-color:#10161D;
    color:#fff;
    font-family: 'Montserrat', sans-serif;
		padding-bottom: 20px;
}
.active{
	color: #c0392b !important;
	text-decoration: underline;

}
